<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bwsk.mapper.ClockRuleMapper">
    <!--添加位置信息-->
    <insert id="insertAddreeMessage" parameterType="com.bwsk.entity.AddressMessage" useGeneratedKeys="true"
            keyProperty="amid">
        insert into addressmessage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="amname != null and amname!=''">
                amname,
            </if>
            <if test="amrange != null and amrange !=''">
                amrange,
            </if>
            <if test="amdetail != null and amdetail !=''">
                amdetail,
            </if>
            <if test="amlatitude != null and amlatitude!=''">
                amlatitude,
            </if>
            <if test="amlongitude != null and amlongitude!=''">
                amlongitude,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="amname != null and amname!=''">
                #{amname},
            </if>
            <if test="amrange != null and amrange !=''">
                #{amrange},
            </if>
            <if test="amdetail != null and amdetail !=''">
                #{amdetail},
            </if>
            <if test="amlatitude != null and amlatitude!=''">
                #{amlatitude},
            </if>
            <if test="amlongitude != null and amlongitude!=''">
                #{amlongitude},
            </if>
        </trim>
    </insert>

    <!--修改位置信息-->
    <update id="updateAddreeMessageByAmId" parameterType="com.bwsk.entity.AddressMessage">
        update addressmessage
        <set>
            <if test="amname != null and amname!=''">
                amname=#{amname},
            </if>
            <if test="amrange != null and amrange !=''">
                amrange=#{amrange},
            </if>
            <if test="amdetail != null and amdetail !=''">
                amdetail=#{amdetail},
            </if>
            <if test="amlatitude != null and amlatitude!=''">
                amlatitude=#{amlatitude},
            </if>
            <if test="amlongitude != null and amlongitude!=''">
                amlongitude=#{amlongitude},
            </if>
        </set>
        where amid=#{amid}
    </update>

    <!--删除位置信息-->
    <delete id="deleteAddreeMessageByAmId" parameterType="com.bwsk.entity.AddressMessage">
        delete from addressmessage where amid=#{amid}
    </delete>

    <!--查询位置信息-->
    <select id="queryAddreeMessageByAmId" resultType="com.bwsk.entity.AddressMessage">
        select *from addressmessage where amid=#{amid}
    </select>

    <!--通过企业的ID和用户的ID判断用户是否已经有绑定的打卡-->
    <select id="queryRuleUserByUidAndCid" resultType="com.bwsk.entity.RuleUser">
        SELECT
        a.*, b.username,c.crname
        FROM
        ruleuser a
        LEFT JOIN user b ON a.uid = b.uid LEFT JOIN clockrule c on a.crid=c.crid where a.cid=#{cid} and a.uid in
        <foreach collection="users" item="uid" open="(" close=")" separator=",">
            #{uid}
        </foreach>
    </select>

    <!--通过企业的ID和用户的ID判断用户是否已经有绑定的打卡-->
    <select id="queryRuleUserListByUidAndCid" resultType="com.bwsk.entity.RuleUser">
        SELECT
        a.*, b.username,c.crname
        FROM
        ruleuser a
        LEFT JOIN user b ON a.uid = b.uid LEFT JOIN clockrule c on a.crid=c.crid where a.cid=#{cid} and a.uid in
        <foreach item="item" collection="list" separator="," open="(" close=")" index="">
            #{item}
        </foreach>
    </select>

    <!--添加打卡规则-->
    <insert id="insertClockRule" parameterType="com.bwsk.entity.ClockRule" useGeneratedKeys="true"
            keyProperty="crid">
        insert into clockrule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cid != null and cid!=''">
                cid,
            </if>
            <if test="crname != null and crname !=''">
                crname,
            </if>
            <if test="crstyle != null and crstyle !=''">
                crstyle,
            </if>
            <if test="amids != null and amids!=''">
                amids,
            </if>
            <if test="userrulestyle != null and userrulestyle!=''">
                userrulestyle,
            </if>
            <if test="users != null">
                users,
            </if>
            <if test="deptids != null">
                deptids,
            </if>
            <if test="firsttime != null and firsttime!=''">
                firsttime,
            </if>
            <if test="sencondtime != null and sencondtime!=''">
                sencondtime,
            </if>
            <if test="tsstyle != null and tsstyle!=''">
                tsstyle,
            </if>
            <if test="threetime != null and threetime!=''">
                threetime,
            </if>
            <if test="fourtime != null and fourtime!=''">
                fourtime,
            </if>
            <if test="ruledata != null and ruledata!=''">
                ruledata,
            </if>
            <if test="holidaystatus != null and holidaystatus!=''">
                holidaystatus,
            </if>
            <if test="uid != null and uid!=''">
                uid,
            </if>
            <if test="facestyle != null and facestyle!=''">
                facestyle,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cid != null and cid!=''">
                #{cid},
            </if>
            <if test="crname != null and crname !=''">
                #{crname},
            </if>
            <if test="crstyle != null and crstyle !=''">
                #{crstyle},
            </if>
            <if test="amids != null and amids!=''">
                #{amids},
            </if>
            <if test="userrulestyle != null and userrulestyle!=''">
                #{userrulestyle},
            </if>
            <if test="users != null">
                #{users},
            </if>
            <if test="deptids != null">
                #{deptids},
            </if>
            <if test="firsttime != null and firsttime!=''">
                #{firsttime},
            </if>
            <if test="sencondtime != null and sencondtime!=''">
                #{sencondtime},
            </if>
            <if test="tsstyle != null and tsstyle!=''">
                #{tsstyle},
            </if>
            <if test="threetime != null and threetime!=''">
                #{threetime},
            </if>
            <if test="fourtime != null and fourtime!=''">
                #{fourtime},
            </if>
            <if test="ruledata != null and ruledata!=''">
                #{ruledata},
            </if>
            <if test="holidaystatus != null and holidaystatus!=''">
                #{holidaystatus},
            </if>
            <if test="uid != null and uid!=''">
                #{uid},
            </if>
            <if test="facestyle != null and facestyle!='' or facestyle==0">
                #{facestyle},
            </if>
        </trim>
    </insert>

    <!--批量添加用户与打卡-->
    <insert id="insertRuleUsers" parameterType="com.bwsk.entity.RuleUser">
        insert into ruleuser (crid,uid,cid)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.crid},#{item.uid},#{item.cid})
        </foreach>
    </insert>

    <!--查询当前用户打卡规则-->
    <select id="queryClockRuleByUidAndCid" resultType="com.bwsk.entity.ClockRule">
        SELECT
        a.*, b.uid
        FROM
        clockrule a
        LEFT JOIN ruleuser b ON a.crid = b.crid
        <where>
            <if test="crid!=null and crid !=''">
                and a.crid=#{crid}
            </if>
            <if test="uid!=null and uid !=''">
                and b.uid = #{uid}
            </if>
            <if test="cid!=null and cid !='' or cid==0">
                and a.cid = #{cid}
            </if>
        </where>
    </select>

    <!--通过多个ID查询考勤地址-->
    <select id="queryAddressMessageByAmids" resultType="com.bwsk.entity.AddressMessage">
        select * from addressmessage where amid in
        <foreach collection="amids" item="amid" open="(" close=")" separator=",">
            #{amid}
        </foreach>
    </select>

    <!--查询用户是否打卡过-->
    <select id="queryClockUserByUidAndCid" resultType="com.bwsk.entity.ClockUser">
        select * from clockuser
        <where>
            <if test="crid!=null and crid !=''">
                and crid=#{crid}
            </if>
            <if test="uid!=null and uid !=''">
                and uid=#{uid}
            </if>
            <if test="cid!=null and cid !=''">
                and cid=#{cid}
            </if>

            <if test="currentday!=null and currentday !=''">
                and currentday=#{currentday}
            </if>
        </where>
    </select>

    <!--添加用户打卡信息-->
    <insert id="insertClockUser" parameterType="com.bwsk.entity.ClockUser" useGeneratedKeys="true" keyProperty="cuid">
        insert into clockuser
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uid != null and uid!=''">
                uid,
            </if>
            <if test="crid != null and crid !=''">
                crid,
            </if>
            <if test="firsttime != null and firsttime !=''">
                firsttime,
            </if>
            <if test="firststatus != null and firststatus!=''">
                firststatus,
            </if>
            <if test="firstrrmark != null and firstrrmark!=''">
                firstrrmark,
            </if>
            <if test="firtstposition != null and firtstposition!=''">
                firtstposition,
            </if>
            <if test="sencondtime != null and sencondtime!=''">
                sencondtime,
            </if>
            <if test="sencondstyle != null and sencondstyle!=''">
                sencondstyle,
            </if>
            <if test="sencondrmark != null and sencondrmark!=''">
                sencondrmark,
            </if>
            <if test="sencondposition != null and sencondposition!=''">
                sencondposition,
            </if>
            <if test="threetime != null and threetime!=''">
                threetime,
            </if>
            <if test="threestatus != null and threestatus!=''">
                threestatus,
            </if>
            <if test="threeremark != null and threeremark!=''">
                threeremark,
            </if>
            <if test="threeposition != null and threeposition!=''">
                threeposition,
            </if>
            <if test="fourtime != null and fourtime!=''">
                fourtime,
            </if>
            <if test="fourstyle != null and fourstyle!=''">
                fourstyle,
            </if>
            <if test="fourremark != null and fourremark!=''">
                fourremark,
            </if>
            <if test="fourposition != null and fourposition!=''">
                fourposition,
            </if>
            <if test="workovertime != null and workovertime!=''">
                workovertime,
            </if>
            <if test="cid != null and cid!=''">
                cid,
            </if>
            <if test="currentday != null and currentday!=''">
                currentday,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uid != null and uid!=''">
                #{uid},
            </if>
            <if test="crid != null and crid !=''">
                #{crid},
            </if>
            <if test="firsttime != null and firsttime !=''">
                #{firsttime},
            </if>
            <if test="firststatus != null and firststatus!=''">
                #{firststatus},
            </if>
            <if test="firstrrmark != null and firstrrmark!=''">
                #{firstrrmark},
            </if>
            <if test="firtstposition != null and firtstposition!=''">
                #{firtstposition},
            </if>
            <if test="sencondtime != null and sencondtime!=''">
                #{sencondtime},
            </if>
            <if test="sencondstyle != null and sencondstyle!=''">
                #{sencondstyle},
            </if>
            <if test="sencondrmark != null and sencondrmark!=''">
                #{sencondrmark},
            </if>
            <if test="sencondposition != null and sencondposition!=''">
                #{sencondposition},
            </if>
            <if test="threetime != null and threetime!=''">
                #{threetime},
            </if>
            <if test="threestatus != null and threestatus!=''">
                #{threestatus},
            </if>
            <if test="threeremark != null and threeremark!=''">
                #{threeremark},
            </if>
            <if test="threeposition != null and threeposition!=''">
                #{threeposition},
            </if>
            <if test="fourtime != null and fourtime!=''">
                #{fourtime},
            </if>
            <if test="fourstyle != null and fourstyle!=''">
                #{fourstyle},
            </if>
            <if test="fourremark != null and fourremark!=''">
                #{fourremark},
            </if>
            <if test="fourposition != null and fourposition!=''">
                #{fourposition},
            </if>
            <if test="workovertime != null and workovertime!=''">
                #{workovertime},
            </if>
            <if test="cid != null and cid!=''">
                #{cid},
            </if>
            <if test="currentday != null and currentday!=''">
                #{currentday},
            </if>
        </trim>
    </insert>


    <!--修改用户打卡信息-->
    <update id="updateClockUser" parameterType="com.bwsk.entity.ClockUser">
        update clockuser
        <set>
            <if test="uid != null and uid!=''">
                uid= #{uid},
            </if>
            <if test="crid != null and crid !=''">
                crid=#{crid},
            </if>
            <if test="firsttime != null and firsttime !=''">
                firsttime=#{firsttime},
            </if>
            <if test="firststatus != null and firststatus!=''">
                firststatus=#{firststatus},
            </if>
            <if test="firstrrmark != null and firstrrmark!=''">
                firstrrmark=#{firstrrmark},
            </if>
            <if test="firtstposition != null and firtstposition!=''">
                firtstposition=#{firtstposition},
            </if>
            <if test="sencondtime != null and sencondtime!=''">
                sencondtime=#{sencondtime},
            </if>
            <if test="sencondstyle != null and sencondstyle!=''">
                sencondstyle=#{sencondstyle},
            </if>
            <if test="sencondrmark != null and sencondrmark!=''">
                sencondrmark=#{sencondrmark},
            </if>
            <if test="sencondposition != null and sencondposition!=''">
                sencondposition=#{sencondposition},
            </if>
            <if test="threetime != null and threetime!=''">
                threetime=#{threetime},
            </if>
            <if test="threestatus != null and threestatus!=''">
                threestatus=#{threestatus},
            </if>
            <if test="threeremark != null and threeremark!=''">
                threeremark=#{threeremark},
            </if>
            <if test="threeposition != null and threeposition!=''">
                threeposition=#{threeposition},
            </if>
            <if test="fourtime != null and fourtime!=''">
                fourtime=#{fourtime},
            </if>
            <if test="fourstyle != null and fourstyle!=''">
                fourstyle=#{fourstyle},
            </if>
            <if test="fourremark != null and fourremark!=''">
                fourremark=#{fourremark},
            </if>
            <if test="fourposition != null and fourposition!=''">
                fourposition=#{fourposition},
            </if>
            <if test="workovertime != null and workovertime!=''">
                workovertime=#{workovertime},
            </if>
            <if test="cid != null and cid!=''">
                cid=#{cid},
            </if>
            <if test="currentday != null and currentday!=''">
                currentday=#{currentday},
            </if>
        </set>
        where cuid=#{cuid}
    </update>

    <select id="queryClockRulesByCidAndUid" resultType="com.bwsk.entity.ClockRule">
        SELECT
        *
        FROM
        clockrule
        WHERE
        uid = #{uid}
        AND cid = #{cid}
        <if test="facestyle !=null and facestyle !=''">
            and facestyle =#{facestyle}
        </if>
    </select>

    <select id="queryAddressMessageByAmid" resultType="com.bwsk.entity.AddressMessage">
        select * from addressmessage where amid=#{amid}
    </select>

    <select id="queryClockRuleByCrid" resultType="com.bwsk.entity.ClockRule">
        select * from clockrule where crid=#{crid}
    </select>

    <update id="updateClockRule" parameterType="com.bwsk.entity.ClockRule">
        update clockrule
        <set>
            <if test="cid != null and cid!=''">
                cid= #{cid},
            </if>
            <if test="crname != null and crname !=''">
                crname=#{crname},
            </if>
            <if test="crstyle != null and crstyle !=''">
                crstyle=#{crstyle},
            </if>
            <if test="amids != null and amids!=''">
                amids=#{amids},
            </if>
            <if test="userrulestyle != null and userrulestyle!=''">
                userrulestyle=#{userrulestyle},
            </if>
            <if test="users != null">
                users=#{users},
            </if>
            <if test="deptids != null">
                deptids=#{deptids},
            </if>
            <if test="firsttime != null and firsttime!=''">
                firsttime=#{firsttime},
            </if>
            <if test="sencondtime != null and sencondtime!=''">
                sencondtime=#{sencondtime},
            </if>
            <if test="tsstyle != null and tsstyle!=''">
                tsstyle=#{tsstyle},
            </if>
            <if test="threetime != null and threetime!=''">
                threetime=#{threetime},
            </if>
            <if test="fourtime != null and fourtime!=''">
                fourtime=#{fourtime},
            </if>
            <if test="ruledata != null and ruledata!=''">
                ruledata=#{ruledata},
            </if>
            <if test="holidaystatus != null and holidaystatus!=''">
                holidaystatus=#{holidaystatus},
            </if>
            <if test="uid != null and uid!=''">
                uid=#{uid},
            </if>
            <if test="facestyle != null and facestyle!='' or facestyle==0">
                facestyle=#{facestyle},
            </if>
        </set>
        where crid=#{crid}
    </update>

    <delete id="deleteClockRule" parameterType="com.bwsk.entity.ClockRule">
        delete  from clockrule where crid=#{crid}
    </delete>

    <delete id="deleteRuleUser" parameterType="com.bwsk.entity.ClockRule">
        delete  from  ruleuser where crid=#{crid}
    </delete>

    <select id="queryAllRuleUser" resultType="com.bwsk.entity.RuleUser">
        select * from ruleuser
    </select>
</mapper>