<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bwsk.mapper.CompanyMapper">

    <resultMap id="deptResult" type="com.bwsk.entity.Dept">
        <result property="deptid" column="deptid"/>
        <result property="deptname" column="deptname"/>
        <collection property="userList" resultMap="userResult"/>
    </resultMap>

    <resultMap id="userResult" type="com.bwsk.entity.User">
        <result property="uid" column="uid"/>
        <result property="username" column="username"/>
    </resultMap>


    <!--添加公司信息  -->
    <insert id="insertCompany" parameterType="com.bwsk.entity.Company" useGeneratedKeys="true" keyProperty="cid">
        insert into company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cname != null and cname!=''">
                cname,
            </if>
            <if test="cabbreviation != null and cabbreviation !=''">
                cabbreviation,
            </if>
            <if test="weixin != null and weixin !=''">
                weixin,
            </if>
            <if test="uid != null and uid!=''">
                uid,
            </if>
            <if test="creattime != null and creattime!=''">
                creattime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cname != null and cname!=''">
                #{cname},
            </if>
            <if test="cabbreviation != null and cabbreviation !=''">
                #{cabbreviation},
            </if>
            <if test="weixin != null and weixin !=''">
                #{weixin},
            </if>
            <if test="uid != null and uid!=''">
                #{uid},
            </if>
            <if test="creattime != null and creattime!=''">
                #{creattime},
            </if>
        </trim>
    </insert>

    <!-- 修改用户 -->
    <update id="updateCompany" parameterType="com.bwsk.entity.Company">
        update company
        <set>
            <if test="cname != null and cname!=''">
                cname=#{cname},
            </if>
            <if test="cabbreviation != null and cabbreviation !=''">
                cabbreviation=#{cabbreviation},
            </if>
            <if test="weixin != null and weixin !=''">
                weixin=#{weixin},
            </if>
            <if test="uid != null and uid!=''">
                uid=#{uid},
            </if>
            <if test="creattime != null and creattime!=''">
                creattime=#{creattime},
            </if>
        </set>
        where cid=#{cid}
    </update>

    <!-- 通过微信ID或者用户ID查询关联的信息 -->
    <select id="queryCompanyByUidOrCid" resultType="com.bwsk.entity.Company">
        SELECT
        a.cid,
        a.cname,
        a.cabbreviation,
        a.weixin,
        a.uid,
        a.creattime,
        b.username
        FROM
        company a
        LEFT JOIN user b ON a.uid = b.uid
        <where>
            <if test="uid != null and uid != ''">
                and a.uid = #{uid}
            </if>
            <if test="cid != null and cid != ''">
                and a.cid = #{cid}
            </if>
        </where>
        order by a.creattime desc
    </select>

    <!-- 通过ID删除 -->
    <delete id="deleteCompanyByCid" parameterType="int">
 		delete from company where cid=#{cid}
 	</delete>

    <!-- 通过名称查询 -->
    <select id="queryCompanyByCname" resultType="com.bwsk.entity.Company">
		select * from company where cname=#{cname}
	</select>

    <select id="queryCompanyByCid" resultType="com.bwsk.entity.Company">
        select * from company where cid=#{cid}
    </select>

    <!--发起申请-->
    <insert id="insertApplayCompanyUser" parameterType="com.bwsk.entity.ApplayCompanyUser">
        insert into applaycompanyuser (cid,uid,remark,creattime) values (#{cid},#{uid},#{remark},#{creattime})
    </insert>

    <select id="queryCompanyByCnameOrCabbreviation" resultType="com.bwsk.entity.Company">
        SELECT
        a.cid,
        a.cname,
        a.cabbreviation,
        a.weixin,
        a.uid,
        <if test="uid!=null and uid !=''">
            case when a.cid in (SELECT cid from applaycompanyuser where uid =#{uid}) then 1 else 0 end applaystatus,
            case when a.cid in (SELECT cid from companyuser where uid=#{uid}) then 1 else 0 end creatstatus,
        </if>
        a.creattime,
        b.username
        FROM
        company a
        LEFT JOIN user b ON a.uid = b.uid
        <where>
            <if test="cname != null and cname != ''">
                and a.cname like concat('%',#{cname},'%')
            </if>
        </where>
        order by a.creattime desc
    </select>

    <!--用户和企业绑定-->
    <insert id="insertCompanyUser" parameterType="com.bwsk.entity.CompanyUser">
        insert into companyuser (cid,uid) values (#{cid},#{uid})
    </insert>

    <!--查询申请的人-->
    <select id="queryApplayCompanyUser" resultType="com.bwsk.entity.ApplayCompanyUser">
          select a.*,b.username username ,b.utelphone telphone from applaycompanyuser a LEFT JOIN user b on a.uid=b.uid
          where a.cid=#{cid}  ORDER BY a.creattime desc
    </select>

    <!--删除申请的人-->
    <delete id="deleteApplayCompanyUser" parameterType="com.bwsk.entity.CompanyUser">
        delete from applaycompanyuser where uid=#{uid} and cid=#{cid}
    </delete>

    <!--查询已加入的人-->
    <select id="queryCompanyUser" resultType="com.bwsk.entity.CompanyUser">
        select a.*,b.username username ,b.upic url from companyuser a LEFT JOIN user b on a.uid=b.uid
        <where>
            <if test="cid!=null and cid !=''">
                and a.cid=#{cid}
            </if>
            <if test="username!=null and username !=''">
                and b.username like concat('%',#{username},'%')
            </if>
        </where>
    </select>

    <!--通过企业ID查询部门以及对应的人数s-->
    <select id="queryDeptFromCompany" resultMap="deptResult">
        SELECT
            c.deptname,
            c.deptid,
            e.username,
            e.uid
        FROM
            company a
        LEFT JOIN dept c on a.cid=c.cid
        LEFT JOIN deptuser d on c.deptid=d.deptid
        LEFT JOIN user e on d.uid=e.uid
        WHERE
            a.cid = #{cid}
    </select>

    <!--查询所有的人包括已经在部门下的-->
    <select id="queryAllUserByDeptId" resultType="com.bwsk.entity.CompanyUser">
        SELECT
        companyuser.uid,
        user.username,
        user.upic url,
        <if test="dept.deptid!=null and dept.deptid !=''">
            case when companyuser.uid in (select uid from deptuser where deptid=#{dept.deptid}) then 1 else 0 end
            userstyle
        </if>
        FROM
        companyuser LEFT JOIN user on companyuser.uid=user.uid
        WHERE
        companyuser.cid = #{dept.cid}
        <if test=" username!=null and username!=''">
            and user.username like concat ('%',#{username},'%')
        </if>
    </select>

    <select id="queryCompanyUserByUid" resultType="com.bwsk.entity.Company">
        SELECT
            a.*,
            b.username,
						case when a.cid in (select cid from currentusercompany   where uid=#{uid}) then 1 else 0 end currentcompany
        FROM
            company a LEFT JOIN user b on a.uid=b.uid
        WHERE
            a.cid IN (
                SELECT
                    cid
                FROM
                    companyuser
                WHERE
                    uid = #{uid}
            )
        ORDER BY
            currentcompany  DESC

    </select>

    <insert id="insertCurrentUserCompany" parameterType="com.bwsk.entity.CurrentUserCompany">
        insert into currentusercompany(cid,uid) values (#{cid},#{uid})
    </insert>

    <select id="queryCurrentUserCompanyByUid" resultType="com.bwsk.entity.CurrentUserCompany">
        select * from currentusercompany where uid=#{uid}
    </select>

    <update id="updateCurrentUserCompany" parameterType="com.bwsk.entity.CurrentUserCompany">
        update currentusercompany set cid=#{cid} where uid=#{uid}
    </update>
</mapper>