<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bwsk.mapper.FaceImageMapper">
    <!--添加人脸图片-->
    <insert id="insertFaceUserImage" parameterType="com.bwsk.entity.FaceUserImage">
          insert into faceuserimage (uid,fictitiousurl,actualurl,cid,crid) values (#{uid},#{fictitiousurl},#{actualurl},#{cid},#{crid})
    </insert>

    <update id="updateFaceUserImage" parameterType="com.bwsk.entity.FaceUserImage">
          update faceuserimage set fictitiousurl =#{fictitiousurl} ,actualurl =#{actualurl} where uid =#{uid} and cid=#{cid} and crid=#{crid}
    </update>

    <delete id="deleteFaceUserImage" parameterType="com.bwsk.entity.FaceUserImage">
        delete from faceuserimage where fuid=#{fuid}
    </delete>

    <select id="queryFaceUserImageByFuid" resultType="com.bwsk.entity.FaceUserImage">
        select * from faceuserimage where fuid=#{fuid}
    </select>

    <select id="queryFaceImageByCid" resultType="com.bwsk.entity.FaceUserImage">
        SELECT
        a.*, b.username,
        c.fictitiousurl,
        c.fuid,
        c.crid,
        CASE
        WHEN a.uid IN (
        SELECT
        uid
        FROM
        faceuserimage
        WHERE
        cid = #{cid}
        ) THEN
        1
        ELSE
        0
        END facestyle
        FROM
        companyuser a
        LEFT JOIN user b ON a.uid = b.uid
        LEFT JOIN faceuserimage c ON b.uid = c.uid
        WHERE
        a.cid =#{cid}
        <if test="uid!=null and uid !=''">
            and a.uid =#{uid}
        </if>
    </select>
</mapper>