<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
</head>
<body>
<h1 th:inlines="text">文件上传</h1>
<form action="imageUpload" method="post" enctype="multipart/form-data">
    <p>选择文件: <input type="file" name="file"/></p>
    <input type="hidden" value="1" name="number">
    <input type="hidden" value="25" name="uid">
    <input type="hidden" value="51" name="cid">
    <!--     <p>web/model: <input type="text" name="role"/></p>
        <p>上传文件夹: <input type="text" name="catalog"/></p> -->
    <p><input type="submit" value="上传"/></p>
</form>


<form action="imageUpload" method="post" enctype="multipart/form-data">
    <p>选择文件: <input type="file" name="file"/></p>
    <input type="hidden" value="2" name="number">
    <input type="hidden" value="25" name="uid">
    <input type="hidden" value="51" name="cid">
    <!--     <p>web/model: <input type="text" name="role"/></p>
        <p>上传文件夹: <input type="text" name="catalog"/></p> -->
    <p><input type="submit" value="检测"/></p>
</form>
</body>
</html>